html,
body {
  background-color: #577399;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

.header {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

.nav-border {
  background-color: #ef798a;
  height: 89px;
}

.btn {
  color: #f7f7ff;
  border: none;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  display: block;
  transition: background 0.5s;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav {
  background: #495867;
  height: 78px;
  width: 100%;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2);
}

.nav ul {
  height: 78px;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

.nav ul li {
  color: #f7f7ff;
  display: inline-block;
  font-weight: bold;
  height: 78px;
  line-height: 78px;
  list-style: none;
  padding: 0 10px;
  transition: background 0.5s;
}

.log-in {
  color: #d6d6ff;
}

.nav ul li:hover {
  background: #577399;
  cursor: pointer;
  transition: background 0.5s;
}


h1 {
  text-align: center;
  margin-top: 120px;
  color: #f7f7ff;
}

form.account-form {
  margin-left: auto;
  margin-right: auto;
  max-width: 450px;
  border-radius: 5px;
  padding: 10px;
}

.form-control {
  background: #f7f7ff;
  width: 70%;
  padding: 12px 20px;
  margin: auto;
  margin-bottom: 10px;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.error-msg {
  text-align: center;
  margin-top: 30px;
}

.login {
  background-color: #ef798a;
  margin: auto;
  width: 70%;
  height: 40px;
}

.login:hover {
  background: #f4a4b0;
  cursor: pointer;
  transition: background 0.4s;
}

.reg {
  background-color: #495867;
  width: 33%;
  position: relative;
  font-size: 16;
  left: 66px;
  top: 6px;
  display: inline-block;
  height: 40px;
}

.back {
  background-color: #495867;
  width: 33%;
  position: relative;
  font-size: 16;
  left: 82px;
  top: 6px;
  display: inline-block;
  height: 40px;
}

.reg:hover,
.back:hover {
  background-color: #5d7083;
  cursor: pointer;
  transition: background 0.4s;
}