<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home</title>
  <link rel="stylesheet" href="/static/css/main.css"/>


</head>

<body>
  <div class="header">
    <div class="nav-border">
      <div class="nav">
        <div class="container">
            <ul>
              <li class="nav-link" onclick="location.href='/';">Home</li>
              {% if current_user.is_authenticated %}
              <li class="nav-link" onclick="location.href='/profile';">Profile</li>
              {% endif %}
              {% if current_user.is_anonymous %}
              <li class="nav-link" onclick="location.href='/register';">Register</li>
              <li class="nav-link" onclick="location.href='/login';">Log In</li>
              {% else %}
              <li class="nav-link" onclick="location.href='/logout';">Logout</li>
              {% endif %}
            </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="page-wrapper">
    <form method="POST">
      <button class="btn left" type="submit" name="submit_button" value="Left">&lt</button>
      <div class="polaroid">
        <img alt='A picture of a cute animal' class="dog" id="image" src='{{ url }}'>
        <div class="container">
          <p>Say hi to this {{breed_name}}!</p>
        </div>
      </div>
      <button class="btn right" type="submit" name="submit_button" value="Right">&gt</button>
      <input type="hidden" name="breed_id" value="{{ breed_id }}">
    </form>
  </div>

{% if current_user.is_authenticated %}
  <h1>Your Like to Dislike Ratio: {{ current_user.like_to_dislike_ratio }}</h1>
{% endif %}

{% if current_user.is_anonymous %}
  <h1>Please register or login to save your data</h1>
{% endif %}

</body>

</html>
