<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chowdr</title>
  <link rel="stylesheet" href="/static/css/login.css"/>

<body>
    <div class="header">
      <div class="nav-border">
        <div class="nav">
          <div class="container">
            <ul>
              <li class="Home" onclick="location.href='/';"">Home</li>
              <li href="#">Profile</li>
              <li class="log-in" onclick="location.href='/login';">Log In</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    
    <h1>Log In</h1>
    <div class="form-container">
      <form action="{{ url_for('login_post') }}" method="POST" class="account-form">

        <input name="email" type="text" placeholder=" Your email address" class="form-control" value="{{ email }}">
        <input name="password" type="password" placeholder=" Password" class="form-control" value="{{ password }}">
        <button type="submit" name="submit_button" class="btn login" value="Login">Log In</button>
        <button type="submit" name="submit_button" class="btn reg" value="Register">Register</button>
        <button type="submit" name="submit_button" class="btn back" value="Back">Back</button>
        <div style="clear: both;"></div>

            {% if error %}
                <div class="error-msg">{{ error }}</div>
            {% endif %}
        </form>
    </div>
</body>
</html>