<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chowdr</title>
  <link rel="stylesheet" href="/static/css/login.css"/>

<body>
    <div class="header">
      <div class="nav-border">
        <div class="nav">
          <div class="container">
            <ul>
              <li class="nav-link" onclick="location.href='/';">Home</li>
              <li class="nav-link" onclick="location.href='profile';">Profile</li>
              <li class="nav-link" onclick="location.href='/login';">Log In</li>
              <li class="nav-link" onclick="location.href='/login';">Register</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <h1>Log In</h1>
    <div class="form-container">
      <form action="{{ url_for('login_post') }}" method="POST" class="account-form" novalidate>
      {{ form.hidden_tag() }}
        {{ form.username(class = "form-control", placeholder = "Username") }}
        {{ form.password(class = "form-control", placeholder = "Password") }}
        <button onclick="location.href='/';" class="btn reg" type="button">Back</button>
          {{ form.submit(class= "btn back") }}
        <div style="clear: both;"></div>

            {% if error %}
                <div class="error-msg">{{ error }}</div>
            {% endif %}
        </form>
    </div>
</body>
</html>